body {
  margin: 0;
  min-height: 2000px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  padding-top: 50px;
}

.header {
  padding: 30px;
  background: #E1D8D8;
}

.header h1 {
  margin: 0;
  padding: 0;
}
