*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Inconsolata', 'Arial', sans-serif;
  margin: 0;
  background: #222;
  color: #9E9E9E;
}

a {
  color: #64CA21;
}

.important {
  color: white;
}

.wrapper {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.container,
.container-no-padding {
  background: #111111;
  margin: 25px 0 25px 0;
  padding: 20px;
}

.container p:first-child {
  margin-top: 0;
}

.container-no-padding {
  padding: 0;
}

.container--blue {
  background: #0D4945;
}

.header {
  padding: 20px;
  background: #138CD1;
  color: #FFF;
}

.header h1 {
  margin: 0;
  padding: 0;
}
